html,
body {
    margin:0;
    width: 100%;
    height:100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
}

#gameScreen {
    position:fixed;
    background-image:url(../img/mountain_background.png),url(../img/sky_background.png);
    background-repeat: no-repeat,no-repeat;
    background-size:contain,cover;
    background-position: left bottom, left top;
    left:0;
	top:0;
	width:100%;
	height:100%;
}

#leftSide{
    position:absolute;
    width:50%;
    height:100%;
}

#areaStats {
    position:absolute;
    background-color:rgb(194, 111, 55);
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    border: 0.5vw solid #0000ff;
    width:48vw;
    height:6vw;
    line-height: 100%;
}

#goldDisplay {
    position: absolute;
    background-color:#ffff00;
    background-image: url(../img/goldcoin.png);
    background-repeat: no-repeat;
    background-size: 3vw 3vw;
    padding-left: 3vw;
}

#expDisplay {
    position: absolute;
    background-color:rgb(135, 208, 250);
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    background-size: 3vw 3vw;
    bottom:0;
    padding-left: 3vw;
}

#damageDisplay {
    position: absolute;
    background-color:red;
    background-image: url(../img/sword.png);
    background-repeat: no-repeat;
    background-size:3vw 3vw;
    background-position-x: 100%;
    right:0;
    padding-right: 3vw;
}

#healDisplay {
    position: absolute;
    background-color:limegreen;
    background-image: url(../img/heal.png);
    background-repeat: no-repeat;
    background-size:3vw 3vw;
    background-position-x: 100%;
    right:0;
    bottom:0;
    padding-right: 3vw;
}

#rightSide {
    position:absolute;
    left:50%;
    width:50%;
    height:100%;
}

#areaDungeon {
    position: absolute;
    top: 0.5vw;
    left: 0;
    width:100%;
    height:4vw;
    font-size: 2vw;
}

#dungeon0 {
    position: absolute;
    margin:0 auto;
    /* display: inline-block; */
    left: 0.5vw;
    background-color: #ffc0cb;
    width: 7vw;
    height: 3.5vw;
}

#dungeonLeft {
    left: 11vw;
    width: 4vw;
    height: 100%;
    transform: rotate(90deg);
}

#dungeonRight {
    left: 35vw;
    width: 4vw;
    height: 4vw;
    transform: rotate(-90deg);
}

.dungeonArrow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/arrow.png) no-repeat center;
    background-size: 95%;
    cursor: pointer; 
}
.dungeonArrow:hover { background-size: 100%; }
.dungeonArrow:active { background-size: 95%; }

#dungeonHolder {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 20vw;
    height: 4vw;
    left: 50%;
    transform: translate(-50%);
    background-color: #ff9900;
}

#dungeon {
    position: relative;
    left: 8vw;
    white-space: nowrap;
    /* background-color: #0000ff; */
}

.levelSelect {
    margin:0 auto;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    background-color: #ffc0cb;
    text-align: center;
    cursor:crosshair;
    border: 0.25vw solid white;
}
.levelSelect:hover { border: 0.25vw solid black; }
.levelSelect:active { border: 0.25vw solid red; }

#areaMonster {
    position:absolute;
    width:100%;
    height:100%;
}

#dungeonKillsDisplay {
    position: absolute;
    top: 6vw;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    background-color:#ffff00;
    background-image: url(../img/skull.png);
    background-repeat: no-repeat;
    background-size: 3vw 3vw;
    background-position: -0.1vw 0.1vw;
    padding-left: 3vw;
    line-height: 100%;
}

#monsterStatsDisplay {
    position: absolute;
    margin: auto;
    width: 40vw;
    height: 4vw;
    top: 12vw;
    left: 50%;
    background-color: #ff0000;
    transform: translate(-50%, -50%);
}

#monsterHpBar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00ff00;
}

#monster\.id {
    position: absolute;
}

#monster\.hp {
    position: absolute;
    right: 0%;
}

#containerMonster {
    position: absolute;
    margin: auto;
    width: 20vw;
    height: 20vw;
    top: 50%;
    left: 50%;
    /* background-color: purple; */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.monster {
    width:100%;
	height:100%;
    /* background-color:#ffff00; */
	/* background-image:url(../img/goldbar.png); */
    background-repeat:no-repeat;
    background-position:center;
    background-size:95%;
    cursor:url(../img/sword.png), auto;
    /* visibility: hidden; */
}

.monster:hover {
	background-size:100%;
}

.monster:active {
	background-size:95%;
}

#areaPlayer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
}

#playerHpRed {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.75;
}

#playerHpBar {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #00ff00;
    opacity: 0.75;
}

/* #playerHpDisplay {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 3vw;
} */

#player\.hp {
    position: absolute;
    width:50%;
    height: 3vw;
    left: 25%;
    transform: translate(-50%);
    text-align: center;
    line-height: 100%;
}

#player\.hpMax {
    position: absolute;
    width:50%;
    height: 3vw;
    left: 75%;
    transform: translate(-50%);
    text-align: center;
    line-height: 100%;
}

#containerPlayer {
    position: absolute;
    height: 100%;
    width: 25vh;
    left: 50%;
    transform: translate(-50%);
}

#player {
    width: 100%;
    height: 100%;
    background: url(../img/player.png) no-repeat center;
    background-size: 95%;
    cursor: url(../img/heal.png), auto;
}

#player:hover {
	background-size:100%;
}

#player:active {
	background-size:95%;
}